* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, Arial, Sans-serif;
    font-size: 16px;
}

header {
    background: white;
}

header .contenedor_logo_menu {
    padding: 0 0 0 45px;
}

header .contenedor_logo_menu .logo {
    position: relative;
}

header .contenedor_logo_menu .logo a {
    display: block;
    margin-left: 20px;
    padding-top: 10px;
}

header .contenedor_logo_menu .logo a img {
    vertical-align: top;
    width: 80px;
}

header .contenedor_logo_menu .menu {
    text-align: right;
    line-height: 50px;
    padding-top: 25px;
}

header .contenedor_logo_menu .menu .icono {
    padding: 0 20px;
}

.tituloWebinar {
    display: block;
    font-weight: bold;
    font-size: 32px;
    color: white;
    margin: 0;
    margin-left: 5%;
    text-decoration: none;
}

.main .banners {
    background: #e0301e;
}

.main .banners .banner {
    height: 15%;
    display: block;
    font-size: 32px;
    color: white;
    margin: 0;
    text-decoration: none;
}

.main .banners .banner .pregunta1 {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.main .banners .banner .pregunta2 {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.main .images {
    padding: 5% 5%;
    font-weight: bold;
    font-size: 20px;
}

.main .redes-sociales {
    background: #f2f2f2;
    padding: 40px 20px;
}

.main .redes-sociales .contenedor-btn a {
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: #e0301e;
    color: white;
    padding: 12px 0;
    font-weight: 600;
    width: 275px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
}

.main .redes-sociales .contenedor-btn a:hover {
    text-decoration: none;
    background: #fff;
    border: 2px solid #4f4f4f;
    color: #4f4f4f;
}

.main .redes-sociales .cuadroprensa {
    padding-bottom: 5%;
}

.main .opciones {
    text-align: left;
    line-height: 50px;
    margin-left: 5%;
    margin-top: 5%;
}

.main .opciones a {
    display: inline-block;
    color: black;
    margin-left: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

.main .opciones a:hover {
    border-bottom: 2px solid #e0301e;
    text-decoration: none;
}

.main .opciones .listaopciones .opcion {
    list-style-type: disc;
    font-size: 1.386rem;
    color: #e0301e;
}

.main .siguenos {
    background: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .siguenos span {
    color: white;
    font-weight: normal;
    font-size: 1.716rem;
    padding-right: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main .siguenos a {
    padding: 2.5% 0.5%;
}

.acercade {
    background: #7d7d7d;
}

.acercade a {
    display: inline-block;
    color: white;
    margin-left: 10px;
    font-size: 18px;
    padding: 4.5% 0.5% 2.5% 0.5%;
}

.acercade .line {
    border-top: 1px solid #fff;
    padding-top: 2px;
}

.acercade p {
    display: inline-block;
    color: white;
    margin-left: 10px;
    font-size: 14px;
    padding: 2.5% 0.5%;
}

.acercade li {
    width: 25%;
}

.acercade .footerpolitica {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 6%;
}


/* Card styles for rotation */

.rotate-container {
    position: relative;
}

.rotate-container .card-front {
    width: 100%;
    height: 100%;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: all .5s linear 0s;
}

.rotate-container .card-back {
    /*@extend .card-front*/
    transform: perspective(1600px) rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all .5s linear 0s;
}

.rotate-container .rotate-card-front {
    transform: perspective(1600px) rotateY(-180deg)
}

.rotate-container .rotate-card-back {
    transform: perspective(1600px) rotateY(0deg)
}


/* Modified card styles */

.card {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5)
}

.card .card-header p {
    margin: 0;
}

.card .card-background {
    background: url('https://static.pexels.com/photos/443374/pexels-photo-443374.jpeg');
    height: 8em;
    background-position: center;
    background-size: cover;
}


/*Absolute positioning can be used if negative margins are not preffered.*/

.card .avatar {
    max-width: 6em;
    max-height: 6em;
    margin-top: -4em;
    margin-bottom: 1em;
    border: 4px solid white;
    border-radius: 50%;
    background: radial-gradient(#e3e3e3, #329A7C, #109381);
}

.card .btn {
    margin-bottom: 1em;
    cursor: pointer;
}

.card .social-links li {
    margin: .5em;
}

.card .social-links li {
    font-size: 1.5em
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}